{% extends 'base.html' %}
{% block content %}

<a href="/add" class="btn">+ Tambah Tugasan</a>

{% for task in tasks %}

<div class="task">

<h3>{{ task.title }}</h3>

<p>📅 {{ task.date }}</p>

<p>⏰ {{ task.time | format_time }}</p>

<p>🔁 {{ task.repeat }}</p>

<div class="buttons">

<a href="/edit/{{task.id}}" class="edit">Edit</a>

<a href="/delete/{{task.id}}" class="delete">Padam</a>

<a href="/priority/{{task.id}}/-1">⬆</a>

<a href="/priority/{{task.id}}/1">⬇</a>

</div>

</div>

{% endfor %}

{% endblock %}